body {
    background-color:#252525;
}

h1 {
    color: #ffc500;
}

.h1-title {
font-size: 40px;
}

h2 {
    color: chocolate;
}

.h2-title {
    font-size: 30px
}

p{
    color: coral;
}

ul {
    color:red
}

a {
    color:red
}



