body {
    background-color: #ea6666;
    padding: 25px 50px;
}

.box-1 {
    background-color: #fcce4d;
    width: 600px;
    height: 200px;
    margin: 25px;
}

.a-1 {
    height: 150px;
    width: 150px;
    background-color: #66b2ea;
    float: left;
    margin: 25px;
}

.b-1 {
    height: 150px;
    width: 150px;
    background-color: #d31414;
    float: right;
    margin: 25px;
}

.box-2 {
    background-color: #69b222;
    width: 600px;
    height: 400px;
    margin: 25px;
}

.a-2 {
    height: 150px;
    width: 150px;
    background-color: #fcce4d;
    float: left;
    margin: 25px;
}
.b-2 {
    height: 150px;
    width: 150px;
    background-color: #ea6666;
    float: right;
    margin: 25px;
}

.c-2 {
    height: 150px;
    width: 526px;
    background-color: #66b2ea;
    float: left;
    margin: 25px;
}

.box-3 {
    background-color: #d31414;
    width: 600px;
    height: 300px;
    margin: 25px;
}

.a-3 {
    height: 150px;
    width: 150px;
    background-color: #11eaa0;
    float: left;
    margin: 25px;
}

p {
    padding: 20px;
    color: white;
}
